<div data-controller="countdown-clock" data-countdown-clock-end-time="<%= launch[:launch_date] %>" class="flex items-start justify-left w-full gap-4 count-down-main">
  <div class="timer">
    <div class="">
      <h3 data-countdown-clock-target="days" class="countdown-element days text-xl text-center"></h3>
    </div>
    <p class="text-sm font-normal mt-1 text-center w-full">days</p>
  </div>
  <h3 class="text-xl">:</h3>
  <div class="timer">
    <div class="">
      <h3 data-countdown-clock-target="hours" class="countdown-element days text-xl text-center"></h3>
    </div>
    <p class="text-sm font-normal mt-1 text-center w-full">hours</p>
  </div>
  <h3 class="text-xl">:</h3>
  <div class="timer">
    <div class="">
      <h3 data-countdown-clock-target="minutes" class="countdown-element days text-xl text-center"></h3>
    </div>
    <p class="text-sm font-normal mt-1 text-center w-full">minutes</p>
  </div>
  <h3 class="text-xl">:</h3>
  <div class="timer">
    <div class="">
      <h3 data-countdown-clock-target="seconds" class="countdown-element days text-xl text-center"></h3>
    </div>
    <p class="text-sm font-normal mt-1 text-center w-full">seconds</p>
  </div>
</div>